.App {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  text-align: center;
  font-family: 'Arial', sans-serif;
  color: #393c43;
}

.App-header, .App-footer {
  flex: 0 1 auto;
  background-color: #a9a8a8;
  box-shadow: 0 2px 4px rgba(0,0,0,0.1);
  padding: 20px 0;
  font-size: calc(10px + 2vmin);
  display: flex;
  align-items: center;
  justify-content: center;
}

main {
  flex: 1 1 auto;
  background-color: #393c43;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  padding: 20px;
}

.App-footer {
  font-size: 1rem;
  text-align: center;
  box-shadow: 0 -2px 4px rgba(0,0,0,0.1);
}
