.entity {
    padding: 20px;
    margin: 10px 0;
    background-color: #95abb4;
    border-radius: 8px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
}

.entity-valueObject1-property1 {
    font-size: 18px;
    color: #333333;
}

.icon {
    margin-left: 12px;
    cursor: pointer;
    background: none;
    border: none;
    scale: 1.8;
}

.icon-container {
    display: flex;
    align-items: center;
}
